.maincard{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
    gap: 30px;
  
    color: rgb(33, 51, 67);
    background-color:#F6F9FC ;
    padding: 60px;

    
}



.card1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
   
    width:98% ;
    background-color: white;
}


.imgdiv{
    display: flex;
    gap: 20px;
}
#cadrh1{
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
}
#cardp1{
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.card2{
    margin: 10px;
    text-align: left;
    width: 100%;
}
.card-h{
    width: 100%;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 600;
    line-height: 35px;
}

#cardbtn{

    background-color: #FF5C35 ;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin-top: 20px;

}
#cardbtn:hover{
    background-color:#FFCEC2 ;
    
}